@mixin typhography {
  --font-family: 'MarkPro', sans-serif;
  --font-weight: 400;
  --font-size-tiny: #{em(12px)};
  --font-size-small: #{em(14px)};
  --font-size: #{em(16px)};
  --font-size-medium: #{em(18px)};
  --font-size-big: #{em(20px)};
  --font-size-extra: #{em(26px)};

  @include breakpoint(360px down) {
    --font-size-tiny: #{em(12px)};
    --font-size-small: #{em(14px)};
    --font-size: #{em(16px)};
    --font-size-medium: #{em(18px)};
    --font-size-big: #{em(20px)};
    --font-size-extra: #{em(26px)};
  }
}
