@mixin colors {
  // Brand
  --color-primary: #feb02b;
  --color-primary-dark: #ba7600;
  --color-primary-light: #ffeded;
  --color-exercise-primary: #151414;
  --color-exercise-secondary: #232325;
  --color-diet-primary: #50b9ff;

  // Texts
  --color-text: #000;
  --color-text-light: #fff;

  //Backgrounds
  --color-background: white;
  --color-background-dark: #e2dcdc;
  --color-background-exercise: #151414;
  --color-background-exercise-light: #232325;

  //Standard Colors
  --color-error: #ee1515;
  --color-warning: orange;
  --color-success: green;
}
