/*
 * "Font family name": (
 *   "filename": (font weight, font style, nombre local),
 * )
 *
 * Example:
 * "Lato": (
 *   "Lato-Hairline": (100, normal, "Lato-Hairline")
 * )
 */

$fonts-families: (
  /*"MarkPro": (
    "MarkPro": (400, normal, "MarkPro"),
    "MarkPro-Italic": (400, italic, "MarkPro-Italic"),
    "MarkPro-Book": (500, normal, "MarkPro-Book"),
    "MarkPro-Medium": (600, normal, "MarkPro-Medium"),
    "MarkPro-Bold": (700, normal, "MarkPro-Bold"),
    "MarkPro-Heavy": (900, normal, "MarkPro-Heavy"),
    "MarkPro-HeavyItalic": (900, italic, "MarkPro-HeavyItalic")
  )
  */
) !default;

@if $fonts-families {
  @each $font-family, $fonts in $fonts-families {
    @each $font, $opts in $fonts {
      @font-face {
        font-family: $font-family;
        src:
          local(nth($opts, 3)),
          url('~@/assets/fonts/#{$font}.svg') format('svg'),
          url('~@/assets/fonts/#{$font}.woff2') format('woff2'),
          url('~@/assets/fonts/#{$font}.woff') format('woff');
        font-weight: nth($opts, 1);
        font-style: nth($opts, 2);
        font-display: swap;
      }
    }
  }
}
