.theme-light {
  /*
  // Brand
  --color-primary: #f60707;
  --color-primary-dark: #c70404;
  --color-primary-light: #ffeded;
  --color-exercise-primary: #151414;
  --color-exercise-secondary: #232325;
  --color-diet-primary: #50b9ff;

  // Texts
  --color-text: #000;
  --color-text-secondary: #fff;

  //Backgrounds
  --color-background: #fff;
  --color-background-exercise: #151414;
  --color-background-exercise-secondary: #202020;
  --color-background-exercise-light: #353638;
  --color-background-exercise-lighten: #46494d;
  */
}
